body
{
  color: white;
  background-image: linear-gradient(to right top, #000000, #0e0e0e, #333333, #aaaeb3, #ffffff);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed rgb(255, 255, 255);
  width: 350px;
  height: 300px; 
}
.nameOfObjects, #resultObjectName  , #resultObjectAccuracy, h3
{
  color: rgb(255, 255, 255);
}